/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base/reset';
@import './input';


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding-left: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}


* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form{

	background-color: rgb(74, 87, 194);
	padding: 20px;

}

.search-form__container{
		position: relative;
	width: 320px;
	display: flex;
	margin: 0 auto;
}

.search-form__input{
	
	font: inherit;
  padding: 10px;
  width: 320px;
	height: 45px;
	border-radius: 5px;
  border-color: #7173e9;
}

.search-form__btn{
	position: absolute;
	right: 3px;
	top: 3px;
	width: 40px;
	height: 39px;
	border: none;
	background-color: #fff;
}

.search-form__icon {
	fill: #969696;
}